<footer class="footer">
  <div class="tile is-parent container" style="width: 100%;">
    <div class="tile is-4">
      <div class="content has-text-centered has-text-grey-darker">
        <p>&copy; {{ site.time | date: '%Y' }} work.design All rights reserved.</p>
        <p>有个想法武汉软件咨询有限公司 版权所有</p>
      </div>
    </div>
    <div class="tile is-vertical is-4">
      <h3 class="subtitle is-6">博客</h3>
      <div class="content">
        <p><a href="/category" class="has-text-dark">文章分类</a></p>
        <p><a href="/post" class="has-text-dark">博客</a></p>
      </div>
    </div>
    <div class="tile is-vertical is-4">
      <div class="content">
        <div class="image is-128x128">
          <img src="/assets/images/qy_qmy.jpg" alt="wechat">
        </div>
      </div>
    </div>
  </div>
</footer>
