<table class="table is-fullwidth is-striped">
  <thead>
    <tr>
      <th></th>
      <th class="has-text-centered">简介</th>
      <th class="has-text-centered">代码量</th>
      <th class="has-text-centered">开源协议</th>
      <th class="has-text-centered">商业授权</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_com" target="_blank">rails_com</a></th>
      <td class="has-text-centered">基础通用 engine，对 Rails 框架进行了扩展</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_auth" target="_blank">rails_auth</a></th>
      <td class="has-text-centered">用户系统，支持多账号、多设备登陆，支持第三方登陆</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥599 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_role" target="_blank">rails_role</a></th>
      <td class="has-text-centered">权限系统，支持多个维度，如 SaaS 系统中，某个组织是否开通某个功能；</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥499 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_org" target="_blank">rails_org</a></th>
      <td class="has-text-centered">组织架构、基础 OA 功能、同时实现了 SaaS 系统基础</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥599 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_trade" target="_blank">rails_trade</a></th>
      <td class="has-text-centered">处理电商，主要处理订单、支付（支付宝、微信支付、Paypal、Stripe、苹果支付）、促销</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_vip" target="_blank">rails_vip</a></th>
      <td class="has-text-centered">会员</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥599 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_event" target="_blank">rails_event</a></th>
      <td class="has-text-centered">预约系统，处理 时间、地点、参与者（主持人、普通参与者）</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_crm" target="_blank">rails_crm</a></th>
      <td class="has-text-centered">客户关系(CRM)</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_enquiry" target="_blank">rails_enquiry</a></th>
      <td class="has-text-centered">询价系统, 待开发完善</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥199 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_anency" target="_blank">rails_agency</a></th>
      <td class="has-text-centered">代理人体系，代理人受客户委托，获得权限，在系统进行对应操作</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥199 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_attend" target="_blank">rails_attend</a></th>
      <td class="has-text-centered">出席、出勤、缺勤</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥499 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_audit" target="_blank">rails_audit</a></th>
      <td class="has-text-centered">审计、审批，对于系统里变更的数据，可以通过审计日志恢复</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥199 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_bench" target="_blank">rails_bench</a></th>
      <td class="has-text-centered">项目、任务、流水线；</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_data" target="_blank">rails_data</a></th>
      <td class="has-text-centered">数据导入、数据导出，并可生成图表；</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥499 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_detail" target="_blank">rails_detail</a></th>
      <td class="has-text-centered">对某个模型的细节描述，元数据处理分析</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥399 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_doc" target="_blank">rails_doc</a></th>
      <td class="has-text-centered">能直接从 Rails 应用的代码分析给出 Api 文档</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_data" target="_blank">rails_data</a></th>
      <td class="has-text-centered">数据导入、数据导出，并可生成图表；</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥399 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_factory" target="_blank">rails_factory</a></th>
      <td class="has-text-centered">生产管理系统：原材料入厂、组装加工、出厂</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_finance" target="_blank">rails_finance</a></th>
      <td class="has-text-centered">财务管理：报销，预支等</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥499 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_growth" target="_blank">rails_growth</a></th>
      <td class="has-text-centered">黑客增长</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_interact" target="_blank">rails_interact</a></th>
      <td class="has-text-centered">用户评论、点赞、收藏等互动性质的交互</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥299 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_log" target="_blank">rails_log</a></th>
      <td class="has-text-centered">错误日志记录并发送通知(企业微信、飞书)，邮件发送记录，CSP 内容安全日志</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_notice" target="_blank">rails_notice</a></th>
      <td class="has-text-centered">通告、通知系统，高性能</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥399 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_profile" target="_blank">rails_profile</a></th>
      <td class="has-text-centered">用户信息，生日、地址等通用信息处理</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥199 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_ship" target="_blank">rails_ship</a></th>
      <td class="has-text-centered">电商系统中的发货管理</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥299 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_wait" target="_blank">rails_wait</a></th>
      <td class="has-text-centered">预约排队功能</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥299 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_sync" target="_blank">rails_sync</a></th>
      <td class="has-text-centered">新老系统进行数据同步迁移、支持多种关系型数据库(Mysql / Postgresql)</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥499 / 年</td>
    </tr>
    <tr>
      <th class="has-text-right"><a href="https://github.com/work-design/rails_wechat" target="_blank">rails_wechat</a></th>
      <td class="has-text-centered">微信公众号、企业微信、小程序综合对接应用，支持微信通知、菜单等各种功能，支持 SaaS 体系</td>
      <td class="has-text-centered"></td>
      <td class="has-text-centered">LGPL-3.0</td>
      <td class="has-text-centered">¥699 / 年</td>
    </tr>
  </tbody>
</table>
