<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bulma-1.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/font.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/syntax.css">
    <script src="/assets/javascripts/stimulus.js"></script>
    <script src="/assets/javascripts/index.js"></script>
  </head>
  <body class="as-body">
    {% include nav.html %}
    <main class="as-main">
      {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
