<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bulma.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/syntax.css">
    <script src="/assets/javascripts/turbolinks.js"></script>
  </head>
  <body class="as-body">
    {% include nav.html %}

    {{ content }}

    {% include footer.html %}
  </body>
</html>
