---
layout: default
---

<section class="hero" style="background-image: url(/assets/images/banner.png); background-repeat: no-repeat; height: 398px;">
  <div class="hero-body">
    <div class="container tile is-parent">
      <div class="tile is-8 is-vertical has-text-centered" style="align-items: center;">
        <h1 class="title is-spaced has-text-white">Work Design 工作设计</h1>
        <h2 class="subtitle has-text-white">进一步优化你的工作</h2>
        <h2 class="subtitle has-text-white">企业数字化新思路，提升3-10倍效率</h2>
      </div>
      <div class="tile is-4"></div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="hero-body container">
    <h3 class="subtitle has-text-centered">站在管理学前沿的数字化解决方案</h3>
    <div class="content has-text-centered">
      <p>Work Design（工作设计）是前沿的管理理念，通过对工作内容、工作方法、员工职能、软硬件的分析，进而调整优化，以达到最佳协作效率，释放生产力。</p>
      <p>由经济学家、财务专家、人力资源专家、高级软件工程师组成的专家队伍，为你的企业带来量身定制的方案。</p>
    </div>
    <div class="level container" style="margin-top: 30px;">
      <div class="level-item has-text-centered"><img src="/assets/images/工作内容.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/方法.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/人员.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/软硬件.png" alt="xx"></div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-8" style="padding: 3rem;">
      <h3 class="subtitle">数字化普惠</h3>
      <div class="content">
        <p>你一定以为很贵，恰恰相反，我们自身亦是数字化普惠的受益者。</p>
        <p>Work Design 历时数年，打造了一系列通用业务组件，极大的提升了软件研发效率，降低了研发成本，不仅如此，我们已免费开放了源代码，免除你的后顾之忧。</p>
        <p class="buttons">
          <a href="https://github.com/work-design" target="_blank" class="button is-large is-info">Github</a>
          <a href="https://gitee.com/work-design" target="_blank" class="button is-large is-warning">码云</a>
        </p>
      </div>
    </div>
    <div class="tile is-4">
      <img src="/assets/images/digit.png" class="image" alt="">
    </div>
  </div>
</section>
