---
layout: default
---

<section class="hero is-info is-medium is-bold">
  <div class="hero-body container has-text-centered">
    <h1 class="title is-spaced">Work Design</h1>
    <h2 class="subtitle">基于数字化设计你的工作</h2>
    <h2 class="subtitle">提升3-10倍效率</h2>
  </div>
</section>
<section class="hero is-success">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-8">
      <h3 class="subtitle">站在管理学前沿</h3>
      <div class="content">
        <p>Work Design（工作设计）是前沿的管理理念，通过对工作内容、方法、人员、软硬件的分析，进而调整优化，以达到最佳协作效率，释放生产力。</p>
        <p>由经济学家、财务专家、高级软件工程师组成的专家队伍，为你的企业带来量身定制的方案。</p>
      </div>
    </div>
    <div class="tile is-4">
    </div>
  </div>
</section>
<section class="hero is-primary is-bold">
  <div class="container tile is-parent">
    <div class="tile is-4"></div>
    <div class="tile is-vertical is-8 is-warning">
      <h3 class="subtitle">数字化普惠</h3>
      <div class="content">
        <p>你一定以为很贵，恰恰相反，我们自身亦是数字化普惠的受益者。</p>
        <p>Work Design 历时 3 年，打造了一系列通用业务组件，极大的提升了开发效率，降低了软件开发成本，不仅如此，我们也免费开放了源代码，免除了你的后顾之忧。</p>
        <p>了解更多</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {{ content }}
  </div>
</section>
