---
layout: default
---

<section class="hero" style="background-image: url(/assets/images/banner.png); background-repeat: no-repeat; height: 398px;">
  <div class="hero-body">
    <div class="container tile is-parent">
      <div class="tile is-8 is-vertical has-text-centered" style="align-items: center;">
        <h1 class="title is-spaced has-text-white">Work Design 工作设计</h1>
        <a href="/why" class="subtitle">
          <h2 class="has-text-white">全链条、低成本的数字化方案，提升3-10倍工作效率</h2>
        </a>
        <a href="/why" class="subtitle">
          <button class="button is-medium is-warning is-light">数字化方案对比</button>
        </a>
      </div>
      <div class="tile is-4"></div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="hero-body container">
    <h3 class="subtitle has-text-centered has-text-weight-bold">数字化 ≠ 软件开发</h3>
    <div class="content has-text-centered">
      <p>Work Design（工作设计）是前沿的管理学概念，通过对工作内容、工作方法、员工职能、软硬件的分析，进而调整优化，达到最佳协作效率，释放生产力。</p>
      <p>由经济学家、财务专家、人力资源专家、高级软件工程师组成的专家队伍，为你的企业带来量身定制的方案，而软件系统正是这套体系的载体。</p>
    </div>
    <div class="level container" style="margin-top: 30px;">
      <div class="level-item has-text-centered"><img src="/assets/images/工作内容.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/方法.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/人员.png" alt="xx"></div>
      <div class="level-item has-text-centered"><img src="/assets/images/软硬件.png" alt="xx"></div>
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="container tile is-parent">
    <div class="tile is-vertical is-7" style="padding: 3rem;">
      <h3 class="subtitle has-text-weight-bold">数字化普惠，自建软件不是大企业的专利</h3>
      <div class="content">
        <p>软件能力不应成为奢侈品，来自大公司的软件工程化体系对于小微企业几乎没有实用价值。</p>
        <p>Work Design 历时数年，针对小微企业的需求，打造了一系列通用业务组件，极大的提升了软件研发效率，降低了研发门槛与成本。</p>
        <p>不仅如此，我们也免费开放了全部源代码，免除你的后顾之忧。</p>
        <p class="buttons">
          <a href="https://github.com/work-design" target="_blank" class="button is-medium is-info">
            <span class="icon"><i class="fab fa-github"></i></span>
            <span>Github</span>
          </a>
          <a href="https://gitee.com/work-design" target="_blank" class="button is-medium is-warning">
            <span class="icon"><i class="fab fa-git-alt"></i></span>
            <span>码云</span>
          </a>
        </p>
      </div>
    </div>
    <div class="tile is-5">
      <img src="/assets/images/digit.png" class="image" alt="">
    </div>
  </div>
</section>
<section class="hero is-medium">
  <div class="container tile is-parent">

  </div>
  <p>我们自身亦是数字化普惠的受益者。</p>
</section>
